axes.labelsize  : 12.0  # fontsize of the x any y labels
xtick.labelsize : 12.0  # fontsize of the tick labels
ytick.labelsize : 12.0  # fontsize of the tick labels
legend.fontsize : 12.0
#font.sans-serif      : ['BitStream Vera Sans']
#text.usetex     : True  # use latex for all text handling
figure.figsize  : 5.12, 3.164
