@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-ExtraLight.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-ExtraLight.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-ExtraLightIt.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-ExtraLightIt.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-Light.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-Light.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-LightIt.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-LightIt.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-Regular.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-Regular.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-It.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-It.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-Medium.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-Medium.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-MediumIt.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-MediumIt.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-Semibold.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-Semibold.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-SemiboldIt.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-SemiboldIt.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-Bold.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-Bold.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-BoldIt.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-BoldIt.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-Black.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-Black.otf.woff') format('woff')
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('_static/sourceCodePro/SourceCodePro-BlackIt.otf.woff2') format('woff2'),
         url('_static/sourceCodePro/SourceCodePro-BlackIt.otf.woff') format('woff')
}
